{% extends "base.html" %}

{% block title%}
Reply to customer feedback
{% endblock %}

{% block body%}
 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

<div class="container col-xxl-8 px-4 py-5">
<div class="col-lg-10 col-md-12 mx-auto">
    <div class="content">
<div class = "container">
    <h4>Reply to the customer</h4>
        <form  method = "POST">
            <hr class="my-4">
             <div class="form-floating mb-3">
            <p>Name:  {{ feedback.name }}</p>
                 <p>E-mail:  {{ feedback.email }}</p>
                 <p>Subject:  {{ feedback.subject }}</p>
                 <p>Message:  {{ feedback.message}}</p>
            </div>

<div class="form-floating mb-3">
            <input type="subject" class="form-control" id="floatingInputName" name="subject" value = {{ feedback.subject }} placeholder="subject">
            <label for="floatingInputName">Subject</label>
          </div>

            <div class="form-floating mb-3">
            <input type="message" class="form-control" id="floatingMessage" name ="message"  placeholder="You answer here">
            <label for="floatingPassword">Message</label>
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>



        </form>
      </div>
    </div>
</div>


      {% endblock %}