{% extends "base.html" %}

{% block title%}
Menus
{% endblock %}

{% block body%}
    <style>

* {
  box-sizing: border-box;
}
</style>
     <style>

* {
  box-sizing: border-box;
}

#myInput {

  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
    <body>


<div class="col-lg-10 col-md-12 mx-auto">

<div class="content">
    <div class = "container">



<h3>Payments</h3>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for order ID.." title="Type in a order ID">
<table class ="table-responsive" id="myTable" style ="width: auto">
  <tr class="header" style = "font-weight: bold">
     <th>Total ALV</th>
      <th>Total</th>
  </tr>
<tr>
    <td>{{totalalv }}€</td>
      <td>{{total }}€ </td>
</tr>
</table>
    <br>

<table class ="table-responsive" id="myTable" style ="width: auto">
  <tr class="header">
     <th>Order ID</th>
      <th>Customer ID</th>
    <th >ALV</th>
      <th>Total</th>
      <th>Status</th>
      <th>Date</th>


{%  for el in payments %}
  <tr>
      <td>{{ el.order_id }}</td>
    <td>{{ el.customer_id }}</td>
    <td>{{ el.order_alv }} € </td>
      <td>{{el.order_total}} € </td>
      <td>{{ el.payment_status}}</td>
      <td> {{ el.updatetime }}</td>

      </tr>
  {% endfor %}
 <tr>
     <td>Total</td>
    <td></td>
    <td> </td>
      <td>{{totalalv }}€</td>
      <td>{{total }}€ </td>
      <td> </td>
</tr>
</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

</div>
</div>
</div>
    </body>

{% endblock %}