


<div className="row flex-lg-row align-items-center g-5 py-5">
                    <div className="col-10 col-sm-8 col-lg-6">
                      <Image src={"/img/" + movies[i].image} className="d-block mx-lg-auto img-fluid"  alt="Bootstrap Themes" width="300" height="270" loading="lazy" />
                    </div>
                    <div className="col-lg-6">
                      <h1 className="display-5 fw-bold lh-1 mb-3" variant="top">{movies[i].name}</h1>
                      <p className="lead"> {movies[i].category}</p>
                                            <Rating
                            name="customized-10" style={{ marginBottom: '20px' }} defaultValue={movies[i].imbdrating} size="small"  max={10} />
         <p className="lead"> IMDB Rating:  {movies[i].imbdrating}</p>
                      <p >{movies[i].shortdescription}</p>
                      <br></br>

                      <div className="d-grid gap-2 d-md-flex justify-content-md-start">


                      </div>
                    </div>
                  </div>