{% extends "basecustomer.html" %}

{% block title%}
Contact
{% endblock %}
{% block body%}

   <style>

* {
  box-sizing: border-box;
}
</style>
     <style>

* {
  box-sizing: border-box;
}

#myInput {

  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
    <body>


<div class="col-lg-10 col-md-12 mx-auto" style = "align-items: center">
<div class = "container">
<br>
<h2>Shopping card</h2>
<br>

<table class ="table-responsive" id="myTable" style ="width: auto">
  <tr class="header">
     <th>Category</th>
      <th>Product ID</th>
    <th >Name</th>
      <th >Picture</th>
      <th >Price</th>
      <th>Quantity<i class="bi bi-plus-square-fill"></i></th>
      <th>Price</th>
      <th> Delete</th>
  </tr>
    {%  for item in cart.productlist  %}

  <tr>
      <td>{{ item.product.category }}</td>
    <td>{{ item.product.id }}</td>
    <td>{{ item.product.title }}</td>
      <td><img class="img-thumbnail" style ="width:200px" alt="..."   src = "/static/images/{{item.product.photo}}"/></td>
      <td>{{ item.product.price }}€ /per person</td>
      <td><a href = "/shoppingcard/{{ item.product.id }}/minus" class = "btn btn-outline-secondary" style = "font-size: 12px">-</a>  {{ item.quantity }} <a href = "/shoppingcard/{{ item.product.id }}/plus" class = "btn btn-outline-secondary" style = "font-size: 12px"> + </a></td>
      <td>€   {{ item.total }}  </td>
      <td> <a href = "/shoppingcard/{{ item.product.id }}/delete" class = "btn btn-danger" style = "font-size: 10px"> Delete</a></td>
  </tr>

  {% endfor %}
 <tr>
     <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
        <td style = "font-size: 18px; font-weight: bold">ALV(24%):</td>
        <td>€  {{ alv }}</td>

        </tr>
        <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
        <td style = "font-size: 18px; font-weight: bold">Total:</td>
        <td>€  {{ total }} </td>

        </tr>
</table>




</div>
</div>
    </body>

{% endblock %}