{% extends "basecustomer.html" %}

{% block title%}
Contact
{% endblock %}
{% block body%}

<div class="container px-4 px-sm-5 my-2">
                <div class="text-center">
                    <div class = "headerMenuList">
        <h2 class="fw-light" font = "red">Order received</h2>
                        <br>
                        <br>
                     <h5 class="fw-light" font = "red">Thank you for your order!</h5>
                    </div>
                </div>
</div>
{% endblock %}